@model ArticleAddDTO

<div class="container-xxl flex-grow-1 container-p-y">


	<h4 class="py-3 mb-4">
		<span class="text-muted fw-light">Makale Yönetimi /</span> Makale Ekle
	</h4>

	<div class="row">
		<div class="col-md-12">
			<div class="card mb-4">
				<h5 class="card-header">Default</h5>
				<form asp-controller="Article" asp-action="Add" method="post" enctype="multipart/form-data">
					<div class="card-body">
						<div>
							<label for="defaultFormControlInput" class="form-label">TÜR</label>
							<input type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">
						</div>
						<div>
							<label for="defaultFormControlInput" class="form-label">BAŞLIK</label>
							<input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">
						</div>
					</div>
					<div class="card-body">
						<div>
							<label for="defaultFormControlInput" class="form-label">İÇERİK</label>
							<input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">
						</div>
					</div>
					<div class="card-body">

						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Kaydet</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>