@model ArticleAddDTO

<div class="container-xxl flex-grow-1 container-p-y">


	<h4 class="py-3 mb-4">
		<span class="text-muted fw-light">Makale Yönetimi /</span> Makale Ekle
	</h4>

	<div class="row">
		<div class="col-md-12">
			<div class="card mb-4">
				<h5 class="card-header">Ekle</h5>
				<form asp-controller="Article" asp-action="Add" method="post" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly"></div>
					<div class="card-body">
						<div class="form-group">

							<label asp-for="GenreId">Tür</label>
							<a class="btn text-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
								Yeni Makale Türü Ekle <i class="bx bx-plus"></i>
							</a>
							<select id="genreList" class="form-control" asp-for="GenreId" asp-items="@(new SelectList(Model.Genres,"Id","Name"))"></select>
							<span asp-validation-for="GenreId" class="text-danger"></span>

						</div>
						<br />

						<br />
						<div class ="card-body>
							<label asp-for="Title" id="defaultFormControlInput" class="form-label">Başlık</label>
							<input asp-for="Title" type="text" class="form-control" id="defaultFormControlInput" placeholder="Lütfen Başlık Giriniz" aria-describedby="defaultFormControlHelp">
							<span asp-validation-for="Title" class="text-danger"></span>
						</div>
					
						<div class="card-body">
							<label asp-for="Content" for="defaultFormControlInput" class="form-label">İÇERİK</label>
							<textarea asp-for="Content" type="text" class="form-control mb-3" id="defaultFormControlInput" style="min-height:300px" placeholder="Lütfen Makalenizi Ekleyiniz" aria-describedby="defaultFormControlHelp"></textarea>
							<span asp-validation-for="Content" class="text-danger"></span>
						</div>
						<div class="card-body">
						
							<label asp-for="Photo" for="defaultFormControlInput" class="form-label">Resim Seçiniz</label>
							<input asp-for="Photo" type="file" accept="image/*" class="form-control mb-3" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
							<span asp-validation-for="Photo" class="text-danger"></span>
						
						</div>


						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Kaydet</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Tür Ekleme</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label class="d-block form-label">Yeni Makale Türü</label>
						<input class="form-control" type="text" id="genreName" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
				<button type="button" data-keyboard="false" class="btn btn-primary" id="btnSave">Kaydet</button>
			</div>
		</div>
	</div>
</div>


@section Scripts

	{
	<script src="~/js/genreAdd.js"></script>
	<script>
		var app = app || {};
		app.Urls = app.Urls || {};

		app.Urls.baseUrl = '@Url.Content("~")';
		app.Urls.genreAddUrl = "@(Url.Action("AddWithAjax", "Genre"))";
		app.Urls.articleAddUrl = "@(Url.Action("Add", "Article"))"
	</script>

}